#create-event-hack

  #new-event
    = form_for @event do |f|
      = f.text_field :name

      .event-start-date
        = f.text_field :start_date

      .event-end-date
        = f.text_field :end_date

      = f.text_field :location

      = f.text_area :description

      = f.submit "Create"
