Create a commitmentt

#new-commitment
  = form_tag event_commitments_path, :method => :post, :id => @event.id do
    .commitment-start-date
      = label_tag :start_date
      = text_field_tag :start_date
    .commitment-end-date
      = label_tag :end_date
      = text_field_tag :end_date
    = submit_tag "Create"
